<p style="color: green"><%= notice %></p>

<h1>Imarings</h1>

<div id="imarings">
  <% @imarings.each do |imaring| %>
    <%= render imaring %>
    <p>
      <%= link_to "Show this imaring", imaring %>
    </p>
  <% end %>
</div>

<%= link_to "New imaring", new_imaring_path %>
