<h1>Editing concepter</h1>

<%= render "form", concepter: @concepter %>

<br>

<div>
  <%= link_to "Show this concepter", @concepter %> |
  <%= link_to "Back to concepters", concepters_path %>
</div>
